body {
  font-family: 'DM Sans', 'Titan One', sans-serif;
  background-color: white;
  color: black;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
