:root {
  --button-green: #bbf330;
  --durk-green: #7eb101;
  --yellow-main: #ffe550;
  --black: #2c2c2c;
  --white: #ffffff;
  --bgr-color: #fefefe;

  --shedow: radial-gradient(
    50% 50% at 50% 50%,
    #2f583f 0%,
    rgba(105, 105, 105, 0) 100%
  );
}
