<section class="customers">
    <div class="container">
        <div class="container-customers">
            <h2 class="customers-titel">What our Customers Say</h2>
            <p class="customers-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="card">
            <ul class="card-list list">
                <li class="card-item">
                    <svg class="card-icon" height="16" width="100">
                        <use href="./images/sprite/sprite-optimised.svg#icon-stars"></use>
                    </svg>
                    <h3 class="card-comment">“The Best app I have used to order food in a while, so many options to
                        choose from
                        too, I would recommend to a freind,
                        No questions asked”</h3>
                    <div class="card-photo">
                        <picture>
                            <source srcset="./images/customers/man.png 1x, ./images/customers/man-x2.png 2x"
                                media="(min-width: 1280px)" />
                            <source srcset="./images/customers/man.png 1x, ./images/customers/man.png 2x"
                                media="(min-width: 768px)" />

                            <source srcset="./images/customers/man.png 1x, ./images/customers/man.png 2x"
                                media="(min-width: 320px)" />
                            <img src="./images/customers/man.png" alt="avatar" width="48" height="48" />
                        </picture>
                        <div class="card-name">
                            <h3 class="name">Sumith Shah</h3>
                            <p class="card-name-some">Some Dude</p>
                        </div>
                    </div>
                </li>
                <li class="card-item">
                    <svg class="card-icon" height="16" width="100">
                        <use href="./images/sprite/sprite-optimised.svg#icon-stars"></use>
                    </svg>
                    <h3 class="card-comment">“The ease with which I can just go in and order what i want was amazing, It
                        has
                        been a very pleasant experience ordering
                        from this app”</h3>
                    <div class="card-photo">
                        <picture>
                            <source srcset="./images/customers/woman.png, ./images/customers/woman-x2.png 2x"
                                media="(min-width: 1280px)" />
                            <source srcset="./images/customers/woman.png 1x, ./images/customers/woman-x2.png 2x"
                                media="(min-width: 768px)" />

                            <source srcset="./images/customers/woman.png 1x, ./images/customers/woman-x2.png 2x"
                                media="(min-width: 320px)" />
                            <img src="./images/customers/woman.png" alt="avatar" width="48" height="48" />
                        </picture>
                        <div class="card-name list">
                            <h3 class="name">Sumith Shah</h3>
                            <p class="card-name-some">Some Dude</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>