<section class="favorites">
  <div class="container">
    <h2 class="favorites__head">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list list">
      <li class="favorites__item">
        <picture>
          <source
            srcset="
              ./images/favorites/gamburger-desktop.png    1x,
              ./images/favorites/gamburger-desktop@2x.png 2x
            "
            type="image/png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/favorites/gamburger-tablet.png    1x,
              ./images/favorites/gamburger-tablet@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/favorites/gamburger-mobil.png    1x,
              ./images/favorites/gamburger-mobil@2x.png 2x
            "
            type="image/png"
            media="(max-width: 767px)"
          />

          <img
            class="favorites__picture"
            src="./images/favorites/gamburger-mobil.png "
            alt="gamburger"
          />
        </picture>
      </li>
      <li class="favorites__item">
        <picture>
          <source
            srcset="
              ./images/favorites/Pasta-desktop.png    1x,
              ./images/favorites/Pasta-desktop@2x.png 2x
            "
            type="image/png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/favorites/Pasta-tablet.png    1x,
              ./images/favorites/Pasta-tablet@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/favorites/Pasta-mobil.png    1x,
              ./images/favorites/Pasta-mobil@2x.png 2x
            "
            type="image/png"
            media="(max-width: 767px)"
          />

          <img
            class="favorites__picture"
            src="./images/favorites/Pasta-mobil.png "
            alt="Pasta"
          />
        </picture>
      </li>
      <li class="favorites__item">
        <picture>
          <source
            srcset="
              ./images/favorites/pizza-desktop.png    1x,
              ./images/favorites/pizza-desktop@2x.png 2x
            "
            type="image/png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/favorites/pizza-tablet.png    1x,
              ./images/favorites/pizza-tablet@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/favorites/pizza-mobil.png    1x,
              ./images/favorites/pizza-mobil@2x.png 2x
            "
            type="image/png"
            media="(max-width: 767px)"
          />

          <img
            class="favorites__picture"
            src="./images/favorites/pizza-mobil.png "
            alt="pizza"
          />
        </picture>
      </li>
      <li class="favorites__item favorites__item--hidden">
        <picture>
          <source
            srcset="
              ./images/favorites/chicken-desktop.png    1x,
              ./images/favorites/chicken-desktop@2x.png 2x
            "
            type="image/png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/favorites/chicken-tablet.png    1x,
              ./images/favorites/chicken-tablet@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />
          <img
            class="favorites__picture"
            src="./images/favorites/chicken-tablet.png "
            alt="chicken"
          />
        </picture>
      </li>
      <li class="favorites__item favorites__item--hidden">
        <picture>
          <source
            srcset="
              ./images/favorites/salat-desktop.png    1x,
              ./images/favorites/salat-desktop@2x.png 2x
            "
            type="image/png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/favorites/salat-tablet.png    1x,
              ./images/favorites/salat-tablet@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />

          <img
            class="favorites__picture"
            src="./images/favorites/salat-tablet.png "
            alt="salat"
          />
        </picture>
      </li>
      <li class="favorites__item favorites__item--hidden">
        <picture>
          <source
            srcset="
              ./images/favorites/borshch-desktop.png    1x,
              ./images/favorites/borshch-desktop@2x.png 2x
            "
            type="image/png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/favorites/borshch-tablet.png    1x,
              ./images/favorites/borshch-tablet@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />

          <img
            class="favorites__picture"
            src="./images/favorites/borshch-tablet.png "
            alt="borshch"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
