<footer class="footer">
  <div class="container">
    <div class="footer__group-desk">
      <div class="footer__group">
        <svg class="footer__logo" width="69" height="51">
          <use href="./images/sprite/sprite-optimised.svg#icon-logo"></use>
        </svg>
        <ul class="footer__list-nav list">
          <li class="footer__item-nav">
            <a class="footer__link-nav" href="">Home</a>
          </li>
          <li class="footer__item-nav">
            <a class="footer__link-nav" href="">About</a>
          </li>
          <li class="footer__item-nav">
            <a class="footer__link-nav" href="">Service</a>
          </li>
          <li class="footer__item-nav">
            <a class="footer__link-nav" href="">Menu</a>
          </li>
          <li class="footer__item-nav">
            <a class="footer__link-nav" href="">Contact</a>
          </li>
        </ul>
      </div>

      <div class="footer__container-form">
        <h2 class="footer__subtitle">Subscribe</h2>
        <div class="form-group">
          <form class="footer-form">
            <input
              class="footer-form__input"
              type="email"
              placeholder="Enter your email"
              name="mail"
            />

            <div class="notification">
              <svg class="notification__icon" width="12" height="12">
                <use
                  href="./images/sprite/sprite-optimised.svg#icon-error"
                ></use>
              </svg>
              <span class="notification__text"
                >Not a valid email address (example&#64;email.com)</span
              >
            </div>

            <button class="button footer__button" type="submit">
              Subscribe
            </button>
          </form>
          <p class="footer-form__text">
            By subscribing you agree to with our
            <a class="footer__link-aside" href="">Privacy Policy</a>
          </p>
        </div>
      </div>
    </div>
    <div class="footer__group-aside">
      <ul class="footer__list-aside list">
        <li class="footer__item-aside">
          <a class="footer__link-aside" href="">Privacy Policy</a>
        </li>
        <li class="footer__item-aside">
          <a class="footer__link-aside" href="">Terms of Service</a>
        </li>
        <li class="footer__item-aside">
          <a class="footer__link-aside" href="">Cookies Settings</a>
        </li>
      </ul>
      <p class="copy">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
