<header class="header">
  <div class="container header-flex">
    <a class="logo link" href="/"
      ><svg class="" height="52" width="66">
        <use href="./images/sprite/sprite-optimised.svg#icon-logo"></use></svg
    ></a>
    <div class="header__nav">
      <nav class="nav">
        <ul class="nav__list list">
          <li class="nav__item">
            <a href="./index.html" class="nav__link nav__link--current">Home</a>
          </li>
          <li class="nav__item">
            <a href="/" class="nav__link link">About</a>
          </li>
          <li class="nav__item">
            <a href="/" class="nav__link link">Service</a>
          </li>
          <li class="nav__item"><a href="/" class="nav__link link">Menu</a></li>
          <li class="nav__item">
            <a href="/" class="nav__link link">Contact</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="header-button" data-modal-open>
        Order Now
      </button>
      <button type="button" class="menu-btn menu-btn__open" data-menu-open>
        <svg class="menu-open__icon" height="28" width="28">
          <use href="./images/sprite/sprite-optimised.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="mob-menu" data-menu>
    <button class="menu-btn menu-btn__close" type="button" data-menu-close>
      <svg class="menu-close__icon" width="24" height="24">
        <use href="./images/sprite/sprite-optimised.svg#close"></use>
      </svg>
    </button>
    <ul class="mob-nav__list list">
      <li class="mod-nav__item mod-nav__item--current">
        <a href="./index.html" class="mod-nav__link mod-nav__link--current link"
          >Home</a
        >
      </li>
      <li class="mob-nav__item">
        <a href="/" class="mod-nav__link link">About</a>
      </li>
      <li class="mob-nav__item">
        <a href="/" class="mod-nav__link link">Service</a>
      </li>
      <li class="mob-nav__item">
        <a href="/" class="mod-nav__link link">Menu</a>
      </li>
      <li class="mob-nav__item">
        <a href="/" class="mod-nav__link link">Contact</a>
      </li>
    </ul>
  </div>
</header>
