<header class="header">
    <div class="container header-flex">
        <a class="logo link" href="/"><svg class="" height="52" width="66">
                <use href=".\images\sprite\sprite-optimised.svg#icon-logo"></use>
            </svg></a>
        <div class="header__nav">
            <nav class="nav">
                <ul class="nav__list list">
                    <li class="nav__item"><a href="./index.html" class="nav__link link-green">Home</a></li>
                    <li class="nav__item"><a href="/" class="nav__link link">About</a></li>
                    <li class="nav__item"><a href="/" class="nav__link link">Service</a></li>
                    <li class="nav__item"><a href="/" class="nav__link link">Menu</a></li>
                    <li class="nav__item"><a href="/" class="nav__link link">Contact</a></li>
                </ul>
            </nav>
            <button type="button" class="header-button" data-modal-open>Order Now</button>
            <button type="button" class="menu-open-btn" data-menu-open><svg class="menu-open__icon" height="28"
                    width="28">
                    <use href=".\images\sprite\sprite-optimised.svg#icon-menu"></use>
                </svg></button>
        </div>
    </div>
    <div class="mod-nav">
        <nav class="mod__nav">
            <ul class="mod-nav__list list">
                <li class="mod-nav__item"><a href="./index.html" class="mod-nav__link link-green">Home</a></li>
                <li class="mod-nav__item"><a href="/" class="mod-nav__link link">About</a></li>
                <li class="mod-nav__item"><a href="/" class="mod-nav__link link">Service</a></li>
                <li class="mod-nav__item"><a href="/" class="mod-nav__link link">Menu</a></li>
                <li class="mod-nav__item"><a href="/" class="mod-nav__link link">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>