<section class="hero">
  <div class="container second-container">
    <div class="hero__container">
      <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button class="hero__btn" type="button" data-modal-open>Order Now</button>
    </div>


    <div class="swiper">
              <div class="swiper-slide">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    type="image/png"
                    srcset="
                      ./images/hero/eat/foto1@528.png 1x,
                      ./images/hero/eat/foto1@1056.png 2x
                    "
                  />
                  <source
                    media="(min-width: 768px)"
                    type="image/png"
                    srcset="
                      ./images/hero/eat/foto1@292.png 1x,
                      ./images/hero/eat/foto1@584.png 2x
                    "
                  />
                  <img
                    class=""
                    src="./images/hero/eat/foto1@292.png"
                    alt="eat"
                  />
                </picture>
              </div>
            <button class="btn-left">
              <svg class="icon-left" width="11" height="16">
                  <use href="./images/svg/icons-hero.svg#icon-left"></use>
                  </svg>
              </button>
            <button class="btn-right">
                <svg class="icon-right" width="" height="">
                    <use href="./images/svg/icons-hero.svg#icon-right"></use>
                    </svg>
            </button> 
            </div>
          </div>
    </section>