<section class="offering">
  <div class="container container-offering">
    <div class="offering-left">
      <picture>
      <!--DESKTOP-->
      <source media="(min-width: 1280px)" srcset="./images/offering/of-aple@1-desc.png 1x,
      ./images/offering/of-aple@2x-desc.png 2x" type="image/png"/>
      <!-- TABLET -->
      <source media="(min-width: 768px), (max-width: 1279px)" srcset="./images/offering/of-aple@1x-tab.png 1x,
      ./images/offering/of-aple@2x-tab.png 2x" type="image/png" />
      <!--MOBILE -->
      <source media="(max-width: 767px)" srcset="./images/offering/of-pple@1x-mobile.png 1x,
      ./images/offering/of-pple@2x-mobile.png 2x" type="image/png"/>
      <img src="./images/offering/of-pple@1x-mobile.png" alt="greenaplle">
    </picture></div>

    <div class="name__content name__list">
    <h2 class="title name__title">What’s&nbsp;Special About Our Offerings</h2>
      <p class="list__about-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum
        tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
        libero vitae
        erat.</p>
        
  <ul class="list_container">
        <li class="list list__card--about">
          <h3 class="list__name list">Fasest Delivery</h3>
          <p class="list__about">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Suspendisse varius enim in eros.</p>
        </li>
        <li class="list list__card--about">
          <h3 class="list list__name list_right-side">Easy To Order</h3>
          <p class="list list__about">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Suspendisse varius enim in eros.</p>
        </li>
      </ul>
      <ul class="list_container--about">
        <li class="list list-btn"> <button class="btn btn-offering" type="button">Order Now</button></li>
        <li class="list icon-more">Read More<svg class="icon-vektor" width="7" heigth="9"><use href="./images/sprite/sprite-not-optimised.svg#icon-vector-left"></use></svg></li>
      </ul>
    </div>
  </div>
</section>