.customers {
  background-image: url(../images/customers/customers-480.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 647px;
  margin: 0 auto;
  position: relative;

}

@media screen and (min-width: 768px) {
  .customers {
    background-image: url('../images/customers/customers-768.png');
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    width: 1280px;
    height: 647px;
    margin: 0 auto;
    position: relative;
    background-image: url('../images/customers/customers.png');
  }
}

.container-customers {
  margin: 60px 20px;
}
@media screen and (min-width: 768px) {
  .container-customers {
    margin-top: 60px 32px 120px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container-customers {
    margin-top: 100px;
  }
}
.customers-titel {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  color: var(--black);
  max-width: 700px;
}

.customers-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--black);
  margin-top: 20px;
}
.card-icon {
  margin: 14px;
}
.card-comment {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: var(--black);
  margin: 14px 14px 0 14px;
}
@media screen and (min-width: 768px) {
  .card-list {
    display: flex;
    margin-top: 32px;
  }
}

.card-item {
  width: 501px;
  height: 227px;
  background: #fefefe;
  border-radius: 0px 30px 30px 30px;
  margin-right: 123px;
  margin-left: 16px;
}
.card-item:first-child {
  margin-left: 0;
}

.card-photo {
  display: flex;
  margin: 42px 14px 16px 14px;
  width: 157px;
  border-right: 0.854167px solid #7eb101;
}
.card-name {
  margin-left: 16px;
}

.name {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--black);
}
.card-name-some {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--black);
}
