.customers {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 94px;

  // & {
  //   @media screen and (max-width: 479px) {
  //     background-image: url(../images/customers/customers@1x_mob.png);
  //     background-size: 320px;
  //     background-repeat: no-repeat;
  //     background-position: bottom center;

  //     @media (min-device-pixel-ratio: 2),
  //       (min-resolution: 192dpi),
  //       (min-resolution: 2dppx) {
  //       background-image: url(../images/customers/customers@2x_mob.png);
  //     }
  //   }
  // }

  & {
    @media screen and (max-width: 767px) {
      background-image: url(../images/customers/customers@1x_mob2.png);
      background-size: 480px;
      background-repeat: no-repeat;
      background-position: bottom center;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/customers/customers@2x_mob2.png);
      }
    }
  }

  & {
    @media screen and (min-width: 768px) {
      background-image: url(../images/customers/customers@1x_tab.png);
      background-size: 768px;
      background-repeat: no-repeat;
      background-position: bottom center;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/customers/customers@2x_tab.png);
      }
    }
  }

  & {
    @media screen and (min-width: 1280px) {
      background-image: url(../images/customers/customers@1x_des.png);
      background-size: 1280px;
      background-repeat: no-repeat;
      background-position: bottom center;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/customers/customers@2x_des.png);
      }
    }
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-item {
  width: 280px;
  background: #fefefe;
  border-radius: 0px 30px 30px 30px;

  &:first-child {
    @media screen and (max-width: 767px) {
      margin-bottom: 24px;
    }
  }
}

.customers-titel {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: var(--black);
}

.customers-text {
  font-size: 14px;
  line-height: 1.14;
  color: var(--black);
  margin-top: 20px;
  margin-bottom: 32px;
}

.card-comment {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  color: var(--black);
  padding: 20px 8px 0 8px;
}

@media screen and (min-width: 768px) {
  .customers {
    padding-top: 60px;
    padding-bottom: 120px;
  }

  .customers-titel {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    color: var(--black);
  }

  .customers-text {
    font-size: 16px;
    line-height: 1.19;
    color: var(--black);
  }

  .card-comment {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    color: var(--black);
    padding: 14px 14px 0 14px;
  }

  .card-photo {
    display: flex;
    margin: 40px 12px 0 12px;
    width: 157px;
    border-right: 0.854167px solid #7eb101;
  }

  .card-icon {
    margin: 12px;
  }

  .card-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .card-item {
    min-width: 336px;
  }
}

@media screen and (min-width: 1280px) {
  .customers {
    padding-top: 100px;
    padding-bottom: 200px;
  }

  .card-list {
    display: flex;
    flex-wrap: nowrap;
  }

  .card-photo {
    display: flex;
    margin: 40px 14px 0 14px;
    width: 157px;
    border-right: 0.854167px solid #7eb101;
  }

  .card-icon {
    margin: 14px;
  }

  .card-item {
    min-width: 501px;
    margin-right: 123px;
  }

  .card-item:first-child {
    margin-right: 139px;
  }
}

.card-photo {
  display: flex;
  margin: 40px 0 8px 8px;
  width: 160px;
  border-right: 0.854167px solid #7eb101;
}

.card-icon {
  margin: 8px;
}

.card-name {
  margin-left: 16px;
}

.name {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--black);
}

.card-name-some {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--black);
}
