.favorites {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bgr-color);
  @include tablet {
    padding-top: 100px;
    padding-bottom: 140px;
  }
  @include desktop {
    padding-bottom: 100px;
  }
}

.favorites__head {
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  margin-bottom: 20px;
}

.favorites__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 60px;
  @include desktop {
    margin-bottom: 40px;
  }
}

.favorites__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  @include tablet {
    gap: 30px;
  }
}

.favorites__item {
  width: 100%;
  padding: 17px;
  border-width: 11px;
  border-style: solid;
  border-color: var(--yellow-main);
  border-radius: 50% 50%;
  &:hover,
  &:focus,
  &:active {
    border-color: var(--button-green);
  }
  @include tablet {
    width: calc((100% - 16px * 2) / 2);
    padding: 20px;
    border-width: 14px;
  }
  @include desktop {
    width: calc((100% - 16px * 4) / 3);
    padding: 24px;
    border-width: 16px;
  }
}

.favorites__item--hidden {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
