.footer {
  padding: 60px 0;

  @media screen and (max-width: 767px) {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  @include tablet {
    padding: 100px 0;
  }

  box-shadow: 0 -4px 24px rgba(105, 105, 105, 0.1);

  background-image: url(../images/footer/apple-mob@1x.png),
    url(../images/footer/orange-mob@1x.png),
    url(../images/footer/fruits-mob@1x.png);
  background-repeat: no-repeat;
  background-position: 0 132px, top 0 right 0, bottom;
  background-size: 110px, 104px, 253px;

  @include retina {
    background-image: url(../images/footer/apple-mob@2x.png),
      url(../images/footer/orange-mob@2x.png),
      url(../images/footer/fruits-mob@2x.png);
  }

  @include tablet {
    background-image: url(../images/footer/fruit-tablet@1x.png);
    background-position: bottom 0 center;
    background-size: 785px;

    @include retina {
      background-image: url(../images/footer/fruit-tablet@2x.png);
    }
  }

  @include desktop {
    background-image: url(../images/footer/fruit-desktop@1x.png);
    background-position: bottom;
    background-size: 1211px;

    @include retina {
      background-image: url(../images/footer/fruit-desktop@2x.png);
    }
  }
}

.footer__group-desk {
  @include desktop {
    display: flex;
    align-items: flex-start;
    margin-bottom: 80px;
  }
}

.footer__group {
  display: flex;
  align-items: flex-start;

  margin-bottom: 40px;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
    padding-right: 81px;
  }

  @include tablet {
    gap: 114px;
    align-items: center;
  }

  @include desktop {
    gap: 145px;
  }
}

.footer__list-nav {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  display: flex;
  flex-direction: column;
  gap: 20px;

  padding-top: 4px;

  @include tablet {
    padding-top: 0;
    flex-direction: row;
    gap: 28px;
  }
}

.footer__link-nav {
  text-decoration: none;

  color: #000000;

  @include desktop {
    color: var(--black);
  }
}

.footer__list-aside {
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }

  display: flex;
  justify-content: space-between;

  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;

  @include tablet {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    gap: 20px;
  }
}

.footer__group-aside {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}

.footer__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;

  margin-bottom: 12px;
}

.footer__container-form {
  @media screen and (max-width: 767px) {
    max-width: 279px;
    margin-right: auto;

    margin-bottom: 60px;
  }

  @include tablet {
    margin-bottom: 100px;
  }

  @include desktop {
    margin-left: auto;
    margin-bottom: 0;
  }
}

.footer-form {
  position: relative;

  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 12px;

    display: flex;
    gap: 13px;
  }
}

.footer-form__input {
  padding: 12px;
  margin-bottom: 20px;

  width: 279px;
  height: 42px;

  border-radius: 30px;
  border: 0.85px solid var(--yellow-main);

  outline: transparent;

  @include tablet {
    margin-bottom: 0;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #505050;
  }
}

.footer-form__input:focus,
.footer-form__input:not(:placeholder-shown) {
  border-color: var(--yellow-main);
}

.footer-form__input:valid:not(:placeholder-shown) {
  border-color: var(--durk-green);
}

.footer-form__input:invalid:not(:placeholder-shown) {
  border-color: #ff705d;
}

.footer__button {
  @media screen and (max-width: 767px) {
    display: block;
    margin-left: auto;
  }

  width: 103px;
  height: 42px;

  background-color: transparent;

  border: 0.85px solid var(--durk-green);
  border-radius: 30px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--yellow-main);
  }
}

.notification {
  position: absolute;

  @media screen and (max-width: 767px) {
    top: -15px;
  }

  bottom: -14px;

  opacity: 0;

  display: flex;
  gap: 4px;

  align-items: center;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.notification__text {
  color: #ff705d;

  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
}

.footer-form__input:invalid:not(:placeholder-shown) ~ .notification {
  opacity: 1;
}

.footer-form__text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;

  @include tablet {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
  }

  color: var(--black);
}

.footer__link-aside {
  color: var(--durk-green);
}

.copy {
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;

  @include tablet {
    font-size: 12px;
    line-height: 1.17;
  }
}
