.footer {
  padding: 60px 0;

  @include tablet {
    padding: 100px 0;
  }
}

.footer__group-desk {
  @include desktop {
    display: flex;
    align-items: flex-start;
    margin-bottom: 80px;
  }
}

.footer__group {
  display: flex;
  align-items: flex-start;

  margin-bottom: 40px;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
    padding-right: 101px;
  }

  @include tablet {
    gap: 114px;
    align-items: center;
  }

  @include desktop {
    gap: 145px;
  }
}

.footer__list-nav {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  display: flex;
  flex-direction: column;
  gap: 20px;

  padding-top: 4px;

  @include tablet {
    padding-top: 0;
    flex-direction: row;
    gap: 28px;
  }
}

.footer__link-nav {
  text-decoration: none;

  color: #000000;

  @include desktop {
    color: var(--black);
  }
}

.footer__list-aside {
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }

  display: flex;
  justify-content: space-between;

  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;

  @include tablet {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    gap: 20px;
  }
}

.footer__group-aside {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}

.footer__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;

  margin-bottom: 12px;
}

.footer__container-form {
  @media screen and (max-width: 767px) {
    max-width: 279px;
    margin-right: auto;
  }

  @media screen and (max-width: 1279px) {
    margin-bottom: 60px;
  }

  @include desktop {
    margin-left: auto;
  }
}

.footer-form {
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 12px;

    display: flex;
    gap: 13px;
  }
}

.footer-form__input {
  padding: 12px;
  margin-bottom: 20px;

  width: 279px;
  height: 42px;

  border-radius: 30px;
  border: 0.85px solid var(--yellow-main);

  @include tablet {
    margin-bottom: 0;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #505050;
  }
}

.footer__button {
  @media screen and (max-width: 767px) {
    display: block;
    margin-left: auto;
  }

  width: 103px;
  height: 42px;

  background-color: transparent;

  border: 0.85px solid var(--durk-green);
  border-radius: 30px;
}

.footer-form__text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;

  @include tablet {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
  }

  color: var(--black);
}

.footer__link-aside {
  color: var(--durk-green);
}

.copy {
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;

  @include tablet {
    font-size: 12px;
    line-height: 1.17;
  }
}
