/*HEDER*/
.header {
 
  padding: 10px 0;

  box-shadow: 0 4px 24px rgba(105, 105, 105, 0.1);
}

.nav {
  
  display: flex;
  align-items: center;

  gap: 191px;

  @include desktop {
    gap: 735px;
  }
}

.nav__list {
  display: flex;
  gap: 28px;
  text-align: right;

  @media screen and (max-width: 767px) {
      display: none;
    }
}

.nav__link {
  display: block;
  color: #000000;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--button-green);
    text-decoration: underline;
  }
}

.nav__link--current {
  color: var(--button-green);
}

.nav__item {
  @include font(400, 14px, 1.14);
}

.header-button {
  @media screen and (max-width: 767px) {
    display: none;
  }

  background: var(--button-green);
  border-radius: 30px;

  font-family: inherit;
  @include font(500, 13px, 150%);

  color: var(--black);
  cursor: pointer;

  padding: 6px 18px;
  border: 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--button-focus);
  }
}

.header__nav {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header-container {
  position: relative;

  @media screen and (max-width: 767px) {
    max-width: 480px;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*////////Modal///////*/

.menu-btn {
  display: flex;
  text-align: center;
  justify-content: center;

  background-color: transparent;
  border: none;

  cursor: pointer;

  margin-left: auto;
}

.menu-btn__open {
  width: 28px;
  height: 28px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu {
  position: absolute;
  z-index: 100;
  top: 50px;
  right: 20px;

  width: 130px;
  height: 255px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  background-color: var(--bgr-color);

  transition-property: background-image;
  transition-duration: 250ms;

  &:hover,
  &:focus {
    background-image: linear-gradient(to bottom, #bbf330 20%, #fefefe 20%);

    color: inherit;

    &:hover .nav__link--current:hover {
      color: #000000;
    }
      
  }

  box-shadow: 0 4px 24px rgba(105, 105, 105, 0.1);

  padding: 16px;

  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    opacity: 1;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mod-nav__item--current:hover {
  background-color: #bbf330;
}

.menu-btn__close {
  position: absolute;
  padding: 0;
  top: 4px;
  right: 4px;

  width: 24px;
  height: 24px;
}

.mob-nav__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mod-nav__link {
  @include font(400, 16px, 1.19);

  color: #000000;

  &:hover,
  &:focus {
    color: var(--button-green);
  }
}
