/*HEDER*/
.header {

  display: flex;
  height: 72px;
  margin: 0px auto;
  left: 0px;
  top: 0px;

  box-shadow: 0 4px 24px rgba(105, 105, 105, 0.1);
}

.nav {
  @media screen and (max-width: 767px) {
    display: none;
  }

  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 28px;
  text-align: right;
}

.nav__link {
  display: block;
  color: #000000;

  &:hover,
  &:focus {
    color: var(--button-green);
  }
}

.nav__link--current {
  color: var(--button-green);
}

.nav__item {
  @include font(400, 14px, 1.14);
}

.header-button {
  @media screen and (max-width: 767px) {
    display: none;
  }

  background: var(--button-green);
  border-radius: 30px;

  font-family: inherit;
  @include font(500, 13px, 150%);

  color: var(--black);
  cursor: pointer;

  padding: 6px 18px;
  border: 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--button-focus);
  }
}

.header__nav {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header-flex {
  position: relative;

  @media screen and (max-width: 767px) {
    max-width: 468px;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*////////Modal///////*/

.menu-btn {
  display: flex;
  text-align: center;
  justify-content: center;

  background-color: transparent;
  border: none;

  cursor: pointer;

  margin-left: auto;
}

.menu-btn__open {

  width: 28px;
  height: 28px;

  @media screen and (min-width: 768px) {
    display: none;
  }

}

.mob-nav {
  position: relative;

  max-width: 468px;
}

.mob-menu {
  position: absolute;
  z-index: 100;
  top: 50px;
  right: 150px;

  width: 130px;
  height: 255px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  background-color: var(--bgr-color);
  box-shadow: 0 4px 24px rgba(105, 105, 105, 0.1);

  padding: 16px;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    transform: translateX(0);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-btn__close {
  position: absolute;
  top: 4px;
  right: 4px;

  width: 24px;
  height: 24px;
}

.mob-nav__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mod-nav__link {
  @include font(400, 16px, 1.19);

  color: #000000;

  &:hover,
  &:focus {
    color: var(--button-green);
  }
}