/*HEDER*/
.header {
  display: flex;
  height: 72px;
  margin: 0px auto;
  left: 0px;
  top: 0px;
  border-bottom: 1px solid var(--border-bottom);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.nav {
  display: flex;
  align-items: center;
}
.logo {
  margin: 10px 0;
}
.nav__list {
  display: flex;
  gap: 28px;
  text-align: right;
}
.nav__link {
  display: block;
}
.nav__itam:first-child {
  text-decoration: line-through;
}
.nav__item {
  color: var(--black);
  /* @mixin font(400, 14px, 1.14);*/
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}
.nav-item a {
  color: aqua;
}
.header-button {
  font-family: inherit;
  background: var(--button-green);
  border-radius: 30px; /*
  @mixin font(400, 14px, 150%);*/
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: right;
  color: var(--black);
  cursor: pointer;
  margin: 0 auto 0 28px;
  display: block;
  padding: 6px 17px 5px 16px;
  border: 0;
}
/*
.header-button :hover,
.header-button :focus {
  background: blue;
}*/
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*
.line {
  position: relative; 
  color: var(--button-green); 
}
*/
.link-green {
  color: #bbf330;
}
.line::after {
  content: '';
  background: var(--button-green);
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
}

/*////////MOBAIl///////*/

.menu-open-btn .close-open-btn {
  display: block; /*display: flex;*/
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  border: 0;
  background-color: var(--first-color);
}

.menu-open-btn {
  display: block; /*display: flex;*/
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  border: 0;
  background-color: var(--third-color);
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}
.menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between; /*
  overflow: auto;*/
}
.mob-menu {
  position: fixed;
  background-color: var(--third-color);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0 40px;
  transform: translateX(100%);
  transition: transform var(--transition);
  z-index: 100;
}
.mob-menu.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
  transform: translateX(0);
}
