.hero {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;

  // max-width: 280px;

  @media screen and (min-width: 768px) {
    padding-left: 34px;
    padding-right: 34px;
    // max-width: 704px;
  }

  @media screen and (min-width: 1280px) { 
        padding-left: 16px;
        padding-right: 16px;
        // max-width: 1248px;
    }
}

.second-container {
  display: flex;
  // position: relative;
}
.hero__title {

    margin-top: 60px;

  @media screen and (min-width: 1280px) {
    // max-width: 1248px;
  }
}


.hero__title {
  margin-top: 60px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;

  color: #2c2c2c;

  width: 280px;

  @media screen and (min-width: 768px) {
    font-size: 42px;
    line-height: 120%;
    width: 537px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 159px;
    font-size: 48px;
    line-height: 1.18;
    width: 502px;
  }
}
.hero__title--text {
  margin-top: 28px;
  margin-bottom: 40px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  color: #2c2c2c;

  width: 266px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;

    font-size: 16px;
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
    font-size: 16px;
    width: 502px;
  }
}

.hero__btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;

  text-align: center;

  color: #2c2c2c;

  background-color: #bbf330;
  border-radius: 30px;
  border: solid #bbf330;

  width: 92px;

  cursor: pointer;
}

.swiper {
  max-width: 528px;
  max-height: 528px;

  // display: flex;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    // margin-top: 163px;
    // margin-right: 14px;
    // margin-bottom: 14px;
    // margin-left: 40px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 14px;
    margin-right: 14px;
    margin-bottom: 14px;
    margin-left: 152px;
  }
}
.swiper-slide {
  min-width: 292px;
  margin-top: 163px;
  // margin-right: 54px;
  // margin-left: 54px;
 
     @media screen and (max-width: 767px) {
       display: none;
    }
 
    @media screen and (min-width: 1280px) {
     min-width: 528px;
     margin-top: 14px;
    }

}
.hero__eat--card {
  border: 14px solid #ffe550;
  border-radius: 50%;
}

.hero__eat--card:hover,
.hero__eat--card:focus {
  border: 14px solid #bbf330;
}


.btn-back {
  position: absolute;
  top: 45%;
  left: -3%;

  border-radius: 4px;
  border: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
}
.btn-next {
  position: absolute;
  top: 45%;
  right: -3%;

  border-radius: 4px;
  border: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
}

