.hero {
  padding-top: 60px;
  padding-bottom: 50px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
.second-container {
  display: flex;
  position: relative;
}
.hero__title {
  @media screen and (min-width: 1280px) {
    margin-top: 159px;
    // max-width: 1248px;
  }
}
.hero__title {
  font-size: 28px;
  line-height: 1.18;
  color: #2C2C2C;
  width: 280px;
  @media screen and (min-width: 768px) {
    // padding-top: 60px;
    font-size: 42px;
    line-height: 120%;
    width: 537px;
  }
  @media screen and (min-width: 1280px) {
    // margin-top: 159px;
    font-size: 48px;
    line-height: 1.18;
    width: 502px;
  }
}
.hero__text {
  margin-top: 28px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 150%;
  color: #2C2C2C;
  width: 266px;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    font-size: 16px;
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
    font-size: 16px;
    width: 502px;
  }
}
.hero__btn {
  background-color: #BBF330;
  border-radius: 30px;
  font-family: inherit;
  @include font(500, 13px, 150%);
  color: var(--black);
  cursor: pointer;
  padding: 6px 18px;
  border: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover,
.hero__btn:focus {
    background-color:#B5FF00;
  }
.swiper {
  position: absolute;
  top: 89px;
  right: 40px;
  width: 320px;
  height: 320px;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    top: 14px;
    right: 14px;
    width: 528px;
    height: 528px;
  }
}
.swiper-slide {
  border-width: 14px;
  border-style: solid;
  border-radius: 50% 50%;
  border-color: var(--yellow-main);
  &:hover,
  &:focus,
  &:active {
    border-color: var(--button-green);
  }
  @media screen and (min-width: 1280px) {
    border-width: 26px;
  }
}
.btn-left {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
   top: 146px;
    left: -8px;
    width: 34px;
    height: 28px;
  border-radius: 4px;
  border: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  background-color: #FFFFFF;
  @media screen and (min-width: 1280px) {
  width: 48px;
  height: 40px;
  top: 246px;
  left: -14px;
  }
}
.btn-right {
  padding: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 146px;
  right: -8px;
  width: 34px;
  height: 28px;
  border-radius: 4px;
  border: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  background-color: #FFFFFF;
  @media screen and (min-width: 1280px) {
    width: 48px;
    height: 40px;
    top: 246px;
    right: -14px;
    }
}

