.offering {
  margin-top: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  background-image: url(../images/offering/background@1x-mb.png);

  @media screen and(min-width:768px) {
    height: 1140px;
    background-image: url(../images/offering/background@1-tab.png);
  }

  @media screen and(min-width:1280px) {
    height: 856px;
    background-image: url(../images/offering/background@1x-desk.png);
  }
}

.img__title {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  @media screen and(min-width:768px) {
    margin-left: 0;
  }
}
.img__wrapper {
  align-items: center;
  margin-top: 70px;

  width: 280px;
  height: 280px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);

  @media screen and(min-width:768px) {
    width: 357px;
    height: 357px;
    margin-top: 184px;
    margin-left: 32px;
    margin-right: 29px;
  }
  @media screen and(min-width:1280px) {
    width: 550px;
    height: 550px;
    margin-top: 231px;
    margin-right: 16px;
  }
}

.img__bc {
  margin: 12px;
  width: 255px;
  height: 255px;
  background-color: #fefefe;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);

  @media screen and(min-width:768px) {
    width: 326px;
    height: 326px;
    margin-top: 15px;
    margin-left: 15px;
  }
  @media screen and(min-width:1280px) {
    width: 502px;
    height: 502px;
    margin-top: 24px;
    margin-left: 24px;
  }
}

.image__offering {
  display: none;

  @media screen and(min-width:768px) and (max-width: 1279px) {
    display: block;

    margin-top: 263px;
    margin-right: 44px;
  }
  @media screen and(min-width:1280px) {
    display: none;
  }
}

.img__big-title {
  display: block;
  margin-top: -41px;
  margin-left: 30px;
  width: 202px;
  height: 256px;
 background-image: to bottom, radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);
  
 
  @media screen and(min-width:768px) {
    width: 257px;
    height: 326px;
    margin-left: 36px;
    margin-top: -55px;
  }
  @media screen and(min-width:1280px) {
    width: 396px;
    height: 502px;
    margin-top: -80px;
    margin-bottom: 78px;
    margin-left: 60px;
    background: bradial-gradient(
      50% 50% at 50% 50%,
      #2f583f 0%,
      rgba(105, 105, 105, 0) 100%
    );
  }
}

.image__offering.image__left {
  margin-top: 340px;
}
.cards {
  @media screen and(min-width:768px) {
    display: flex;
  }
}
.name__content{
   @media screen and(min-width:1280px) {
    margin-top: -600px;
   margin-left: 640px;
}

}
.name__title {
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);

  color: #2c2c2c;
  @media screen and(min-width:768px) {
    font-size: 42px;
    line-height: calc(49 / 42);
  }
  @media screen and(min-width:1280px) {
    line-height: 120%;
  }
}

.name__list {
  margin-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 280px;
  @media screen and(min-width:768px) {
    padding-left: 32px;
    max-width: 526px;
  }
  @media screen and(min-width:1280px) {
    margin-left: 0;
  }
}

.list__about {
  margin-top: 28px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);

  color: #2c2c2c;
  @media screen and(min-width:768px) {
    margin-top: 20px;

    font-size: 16px;
    line-height: calc(19 / 16);
  }
  @media screen and(min-width:768px) {
    margin-top: 27px;
    font-size: 14px;
line-height: calc(21 / 14);

  }
}

.card__wrap {
  max-width: 252px;
  max-height: 161px;
  margin-top: 28px;
  margin-right: 48px;
  margin-left: 20px;
  margin-bottom: 28px;
  @media screen and(min-width:768px) {
    margin-left: 32px;
    margin-right: 116px;
    margin-top: 40px;
    max-width: 252px;
  }
}
.list__name {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(21 / 18);

  @media screen and(min-width:1280px) {
    font-size: 17.0833px;
    line-height: 140%;
  }
}

.icon-media {
  fill: hsl(77, 99%, 35%);
}
.icon__br {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  width: 48px;
  height: 48px;
  background: #fefefe;
  border-radius: 50%;
  @media screen and(min-width:1280px) {
    margin-bottom: 10px;
  }
}

.btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  width: 106px;
  height: 40px;
  color: #2c2c2c;
  background: #ffffff;
  margin-left: 20px;
  margin-bottom: 60px;

  border: 2px solid #7eb101;
  border-radius: 30px;
  @media screen and(min-width:768px) {
    margin-left: 32px;
  }
}
.block{
 position: relative;
}
.block__item{
  position: absolute;
  left: 150px;
  top: 10px;
  @media screen and(min-width:1280px) {
    display: none;
  }


}
.block__title {
  font-weight: 400;
  font-size: 13.6667px;
  line-height: calc(20 / 13);
  position: relative;
  margin-left: 20px;
  cursor: pointer;
  padding-left: 18px;
}

.block__title::after,
.block__title::before {
  content: '';
  width: 8px;
  height: 2px;
  background-color: #2c2c2c;
  position: absolute;
  top: 10px;
  
  
}
.block__title::before {
  content: '';
  transform: rotate(45deg);
  left: 0;

}
.block__title::after {
  transform: rotate(-45deg);
  left: 5px;
}

.block__text {
  display: none;
  padding: 10px 0 0 0;
}
