.offering {
  padding-top: 41px;
  padding-bottom: 60px;

  & {
    @media screen and (max-width: 479px) {
      max-width: 479px;
      background-image: url(../images/offering/@1x-bakc-mob.png);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: top center;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/offering/@2x-bakc-mob.png);
      }
    }
  }

  & {
    @media screen and (min-width: 480px) {
      max-width: 767px;
      background-image: url(../images/offering/@1x-bakc-mob2.png);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: top center;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/offering/@2x-bakc-mob2.png);
      }
    }
  }

  & {
    @media screen and (min-width: 768px) {
      padding-top: 150px;
      padding-bottom: 100px;

      max-width: 1279px;
      background-image: url(../images/offering/@1x-bakcgtab.png);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: top center;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/offering/@2x-bakcgtab.png);
      }
    }
  }

  & {
    @media screen and (min-width: 1280px) {
      padding-top: 199px;
      padding-bottom: 43px;

      max-width: 1980px;
      background-image: url(../images/offering/@1x-bakcgdesc.png);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: top center;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/offering/@2x-bakcgdesc.png);
      }
    }
  }
}

.container-offering {
  display: flex;
  flex-direction: column;

  @media screen and(min-width:768px) {
    flex-direction: column;
  }
  @media screen and(min-width:1280px) {
    flex-direction: row;
  }
}
.name__content {
  margin-left: 0;
  padding-left: 20px;
  margin-top: 60px;

  @media screen and(min-width:768px) {
    min-width: 573px;
  }
  @media screen and(min-width:1280px) {
    margin-left: 0;
  }
}
.name__title {
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);

  max-width: 280px;

  color: #2c2c2c;
  @media screen and(min-width:768px) {
    font-size: 42px;
    line-height: calc(49 / 42);

    max-width: 526px;
  }
  @media screen and(min-width:1280px) {
    line-height: 120%;
  }
}

.offering-img {
  margin-bottom: 60px;
}

.list__about-title {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  margin-top: 28px;

  max-width: 280px;

  @media screen and(min-width:768px) {
    font-size: 16px;
    line-height: calc(19 / 16);
    margin-top: 20px;

    max-width: 526px;
  }
  @media screen and(min-width:1280px) {
    font-size: 16px;
    line-height: calc(24 / 16);
    margin-top: 27px;
  }
}

.name__list {
  // margin-top: 60px;
  max-width: 280px;

  @media screen and(min-width:768px) {
    min-width: 573px;
  }
  @media screen and(min-width:1280px) {
    margin-left: 0;
  }

  .list__card--about {
    margin-right: 30px;
    @media screen and(min-width:768px) {
      margin-right: 116px;
    }
    @media screen and(min-width:1280px) {
      margin-right: 67px;
    }
  }

  .list__about {
    margin-top: 28px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16 / 14);

    color: #2c2c2c;
    @media screen and(min-width:768px) {
      margin-top: 20px;

      font-size: 16px;
      line-height: calc(19 / 16);
    }
    @media screen and(min-width:768px) {
      margin-top: 27px;
      font-size: 14px;
      line-height: calc(21 / 14);
    }
  }
  .list_container {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    @media screen and(min-width:768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .list__name {
    margin-top: 28px;
    display: block;
    margin-bottom: 16px;
    @media screen and(min-width:768px) {
      margin-top: 40px;
    }
    @media screen and(min-width:1280px) {
      margin-top: 33px;
    }
  }

  .list__name::before {
    content: '';
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #ffffff;
    display: block;
    margin-bottom: 8px;
    background-repeat: no-repeat;

    background-position: center;

    background-image: url(../images/offering/left.png);
  }
  .list_right-side::before {
    background-image: url(../images/offering/rigth.png);

    background-image: url(../images/sprite/sprite-not-optimised.svg#icon-left-roket),
      url(../images/offering/left.png);
  }
  .list_right-side::before {
    background-image: url(../images/sprite/sprite-not-optimised.svg#icon-right-finger),
      url(../images/offering/rigth.png);
  }

  .list_container--about {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    padding-top: 0;
    align-items: baseline;

    margin-bottom: 60px;
  }

  .btn-offering {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    width: 106px;
    height: 40px;
    color: #2c2c2c;
    background: #ffffff;
    padding-left: 0;
    margin-top: 32px;
    margin-right: 23px;

    border: 2px solid #7eb101;
    border-radius: 30px;
  }
  .btn-offering:hover,
  .btn-offering:focus {
    border: 2px solid #597d00;
  }

  .icon-more {
    display: inline;
    position: relative;
    margin-right: 10px;
    @media screen and(min-width:1280px) {
      display: none;
    }
  }
  .icon-vektor {
    position: absolute;
    top: -66px;
    left: 90px;
  }
}
