.subscribe {
  margin-top: -20px;
  position: relative;
 z-index: 200;

  & {
    @media screen and (max-width: 767px) {
      background-image: url(../images/subscribe/banan@1x_mobile.png);
      background-size: 161px;
      background-repeat: no-repeat;
      background-position: top center;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/subscribe/banan@2x_mobile.png);
      }
    }
  }

  & {
    @media screen and (min-width: 768px) {
      background-image: url(../images/subscribe/banan@1x_tablet.png);
      background-size: 281px;
      background-repeat: no-repeat;
      background-position: top -140px right;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/subscribe/banan@2x_tablet.png);
      }
    }
  }

  & {
    @media screen and (min-width: 1280px) {
      margin-top: -67px;

      background-image: url(../images/subscribe/banan@1x_desctop.png);
      background-size: 546px;
      background-repeat: no-repeat;
      background-position: bottom -20px right;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/subscribe/banan@2x_desctop.png);
      }
    }
  }
}


.subscribe__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;

  color: #2c2c2c;

  margin-bottom: 20px;

  & {
    @media screen and (max-width: 767px) {
      font-size: 28px;
    }
  }
}

.subscribe__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  color: #2c2c2c;

  margin-bottom: 24px;
  margin-left: 0;

  & {
    @media screen and (min-width: 768px) {
      font-size: 16px;
      width: 656px;
      line-height: 150%;
    }
  }
}

.subscribe__input {
  box-sizing: border-box;

  min-width: 278px;
  width: 100%;
  height: 42px;

  border: 0.9px solid #ffe550;
  border-radius: 30px;

  background-color: #fefefe;

  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  color: #2c2c2c;

  padding: 12px 11px;

  outline: none;

  & {
    @media screen and (min-width: 768px) {
      max-width: 394px;
    }
  }
}

.subscribe__mail {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  & {
    @media screen and (max-width: 767px) {
      min-width: 278px;
      max-width: 394px;
    }
  }

  & {
    @media screen and (min-width: 768px) {
      flex-wrap: nowrap;
    }
  }
}

.subscribe__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;

  color: #505050;
}

.subscribe__input:not(:placeholder-shown):valid {
  border-color: #7eb101;
}

.subscribe__input:invalid {
  border-color: #ff705d;
}

.subscribe__notification {
  display: flex;
  align-items: center;
  opacity: 0;

  position: absolute;
  left: 0;

  bottom: -20px;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__icon {
  fill: #ff705d;

  margin-right: 4px;
}

.subscribe__icon .subscribe__icon--error {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__notification--text {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;

  color: #ff705d;
}

.subscribe__input:invalid:not(:placeholder-shown) ~ .subscribe__notification,
.subscribe__icon .subscribe__icon--error {
  opacity: 1;
}

.subscribe__button {
  font-family: inherit;
  background-color: #bbf330;
  color: #2c2c2c;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  cursor: pointer;

  border-radius: 30px;
  border: none;

  width: 106px;
  height: 42px;

  margin-left: 32px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  & {
    @media screen and (max-width: 767px) {
      margin-left: auto;
      margin-top: 20px;
    }
  }

  &:hover,
  &:focus {
    background-color: #b5ff00;
  }
}
