.subscribe {
    padding-bottom: 100px;
  position: relative;
 
}

.subscribe {
  @media screen and (max-width: 767px) {
    padding-bottom: 60px;
  }
}

.subscribe__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;

  color: #2c2c2c;

  margin-bottom: 20px;
}

.subscribe__title {
  @media screen and (max-width: 767px) {
    font-size: 28px;
    width: 280px;
  }
}

.subscribe__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  color: #2c2c2c;

  margin-bottom: 24px;
  margin-left: 0;
  width: 280px;
}

.subscribe__desc {
  @media screen and (min-width: 768px) {
    font-size: 16px;
    width: 656px;
    line-height: 150%;
  }
}

.subscribe__input {
  box-sizing: border-box;

  max-width: 278px;
  width: 100%;
  height: 42px;

  border: 0.9px solid #ffe550;
  border-radius: 30px;

  background-color: #fefefe;

  padding: 12px 11px;

  outline: none;
}

.subscribe__input {
  @media screen and (max-width: 767px) {
    margin: 0 auto;
  }
}

.subscribe__input {
  @media screen and (min-width: 768px) {
    max-width: 394px;
  }
}

.subscribe__mail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.subscribe__mail {
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.subscribe__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;

  color: #505050;
}

.subscribe__button {
  font-family: inherit;
  background-color: #bbf330;
  color: #2c2c2c;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  cursor: pointer;

  border-radius: 30px;
  border: none;

  width: 106px;
  height: 42px;

  margin-left: 32px;
}

.subscribe__button:hover,
.subscribe__button:focus {
  background-color: #b5ff00;
}

.subscribe__button {
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-top: 20px;
  }
}

.subscribe__img {
  position: absolute;
  right: 20px;
  top: -50px;
}

.subscribe__img {
  @media screen and (min-width: 768px) {
    right: 32px;
    top: -124px;
  }
}

.subscribe__img {
  @media screen and (min-width: 1280px) {
    right: 16px;
    top: -54px;
  }
}
