.subscribe {
  min-width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 60px;

  & {
    @media screen and (max-width: 479px) {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      margin-left: auto;
    }
  }

  & {
    @media screen and (min-width: 480px) {
      width: 440px;
    }
  }

  & {
    @media screen and (min-width: 768px) {
      width: 704px;
      padding-bottom: 100px;
    }
  }

  & {
    @media screen and (min-width: 1280px) {
      width: 1247px;
      padding-bottom: 100px;
    }
  }
}

.subscribe__picture {
  z-index: 100;
  max-width: 161px;
  margin-bottom: 17px;
  margin-left: 69px;

  & {
    @media screen and (min-width: 768px) {
      min-width: 281px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: -32px;
    }
  }

  & {
    @media screen and (min-width: 1280px) {
      min-width: 608px;
      margin-bottom: -216px;
    }
  }
}

.subscribe__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;

  color: #2c2c2c;

  margin-bottom: 20px;

  & {
    @media screen and (max-width: 767px) {
      font-size: 28px;
    }
  }
}

.subscribe__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  color: #2c2c2c;

  margin-bottom: 24px;
  margin-left: 0;

  & {
    @media screen and (min-width: 768px) {
      font-size: 16px;
      width: 656px;
      line-height: 150%;
    }
  }
}

.subscribe__input {
  box-sizing: border-box;

  min-width: 278px;
  width: 100%;
  height: 42px;

  border: 0.9px solid #ffe550;
  border-radius: 30px;

  background-color: #fefefe;

  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  color: #2c2c2c;

  padding: 12px 11px;

  outline: none;


  & {
    @media screen and (min-width: 768px) {
      max-width: 394px;
    }
  }
}

.subscribe__mail {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  & {
    @media screen and (max-width: 767px) {
      min-width: 278px;
      max-width: 394px;
    }
  }

  & {
    @media screen and (min-width: 768px) {
      flex-wrap: nowrap;
    }
  }
}

.subscribe__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;

  color: #505050;
}

.subscribe__input:not(:placeholder-shown):valid {
  border-color: #7eb101;
}

.subscribe__input:invalid {
  border-color: #ff705d;
}

.subscribe__notification {
  display: flex;
  align-items: center;
  opacity: 0;

  position: absolute;
  left: 0;

  bottom: -20px;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__icon {
  fill: #ff705d;

  margin-right: 4px;
}

.subscribe__icon .subscribe__icon--error {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__notification--text {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;

  color: #ff705d;
}

.subscribe__input:invalid:not(:placeholder-shown) ~ .subscribe__notification,
.subscribe__icon .subscribe__icon--error {
  opacity: 1;
}

.subscribe__button {
  font-family: inherit;
  background-color: #bbf330;
  color: #2c2c2c;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  cursor: pointer;

  border-radius: 30px;
  border: none;

  width: 106px;
  height: 42px;

  margin-left: 32px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  & {
    @media screen and (max-width: 767px) {
      margin-left: auto;
      margin-top: 20px;
    }
  }

  &:hover,
  &:focus {
    background-color: #b5ff00;
  }
}
